/* Home */
.homeinfo{
    width: 48.95vw;
    height: 20.83vw;
}
.student{
    width: 635px;
    height: 400px;
    margin: 1px auto;
}

.link{
    margin-top: 1.53vw;
}
.link a{
    color: rgb(255, 255, 255);
}
.link li{
    display: inline-block;
    margin-left: 1.53vw;
}

/* About */
.personinfor{
    display: inline-block;
    list-style: none;
    padding: 0;
}
.personinfor li{
    margin-top: 20px;
}
.person{
    position: relative;
    top: -280px;
    left: 530px;
}
/* Project */
.projects{
    list-style: none;
    padding: 0;
}
.projects li{
    margin-top: 20px;
}
.projects li div a{
    padding: 40px;
}
/* Services */
.services{
    list-style: none;
    padding: 0;
    color: #ffffff;
    background-image: linear-gradient(to top, rgba(9, 32, 63, 1) 0%, rgba(83, 120, 149,0.1) 100%);
}
.services li{
    margin-top: 20px;
    display: inline-block;
    margin-right: 60px;
    margin-left: 10px;
}
.services li img{
    margin-left: 40px;
}
.servicesbg{
    background-color: rgb(3, 8, 34);
}
/* contact */
.contactsurvey{
    display: inline-block;
}
.contactborder{
    border-bottom: 3px solid rgb(255, 255, 255);
}
.contact div input, textarea{
    width: 500px;
}
.contact div{
    padding-top: 10px;
}
.contactinfo{
    display: inline-block;
    vertical-align: text-bottom;
}
.contactinfo li{
    list-style: none;
    padding: 5px;
}
.insimg{
    display: none;
    transition: all 30s linear;
}
.ins:hover +.insimg{
    display: block;
    transform: scale(1.1);
    transition: all 30s linear;
}
.wechatimg{
    display: none;
}
.wechat:hover  +.wechatimg{
    display: block;
}


/* bg */
main{
    color: #ffffff;
}
body{
    /* background-image: url("/Assets/images/background.jpg"); */
    background-size: cover;
}

.title{
    background-image: linear-gradient( #ffffff 0%,rgba(0,0,0,0.5) 20%, rgba(0,0,0,0) 100%);
}