@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1623741481302') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiazaizhong:before {
  content: "\e6ac";
}

.icon-shouhou:before {
  content: "\e60d";
}

.icon-dayuhao:before {
  content: "\e625";
}

.icon-zhengpin:before {
  content: "\e610";
}

.icon-ziyingyewu:before {
  content: "\e7cb";
}

.icon-diqiu:before {
  content: "\e624";
}

